# 2025-04-02 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# http://stackoverflow.com/questions/987142
# http://stackoverflow.com/questions/9162919
# http://stackoverflow.com/questions/8024924#comment15884195_8025106
*
!*/
!/.editorconfig
!/.gitignore
!/composer.json
!/readme.md
!/app/code/**/*
# 2025-04-02
# https://chatgpt.com/c/67ecb56c-c39c-8003-b84d-201ec94aec0b
# https://gemini.google.com/u/1/app/6b203ee6c0eac7d7
# https://grok.com/chat/821bd013-e733-4dd3-b3c2-8a338cef1c99
# https://claude.ai/chat/6a88d2c5-6bde-4086-86bb-b7928f5b6336
!/app/design/frontend/**/*
/app/design/frontend/Magento/
!/app/etc/config.php
# 2023-07-22 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# Today I noticed that `git add . && git commit -a -m refactoring && git push`
# started to commit subfolders which are git repositories (for an unknown reason).
# 2025-04-03 https://gemini.google.com/u/1/app/de95853eeeb45648
/_my
/dev
/update/
# 2025-04-03 https://gemini.google.com/u/1/app/de95853eeeb45648
/vendor/